/* CSS Document */

.flex-container {
  width: 100%;
  overflow: hidden; }
  .flex-container .flex-row {
    width: 100%;
    float: left;
    overflow: hidden; }
    .flex-container .flex-row .flex-col {
      padding: 1.5%;
      vertical-align: top;
      margin: 0% 0 0% 1%;
      display: block;
	  border: 1px dashed #ccc;
      float: left;
      overflow: hidden; }
      @media (max-width: 780px) {
        .flex-container .flex-row .flex-col {
          margin: 1% 0 0% 0%; } }
      .flex-container .flex-row .flex-col img {
        max-width: 100%; }
    .flex-container .flex-row .flex-col:first-child {
      margin-left: 0; }
    .flex-container .flex-row .flex-1 {
      width: 11.83%; }
      @media (max-width: 780px) {
        .flex-container .flex-row .flex-1 {
          width: 100%; } }
    .flex-container .flex-row .flex-2 {
      width: 28.66%; }
      @media (max-width: 780px) {
        .flex-container .flex-row .flex-2 {
          width: 100%; } }
    .flex-container .flex-row .flex-3 {
      width: 45.5%; }
      @media (max-width: 780px) {
        .flex-container .flex-row .flex-3 {
          width: 100%; } }
    .flex-container .flex-row .flex-4 {
      width: 62.33%; }
      @media (max-width: 780px) {
        .flex-container .flex-row .flex-4 {
          width: 100%; } }
    .flex-container .flex-row .flex-5 {
      width: 79.16%; }
      @media (max-width: 780px) {
        .flex-container .flex-row .flex-5 {
          width: 100%; } }
    .flex-container .flex-row .flex-6 {
      width: 96%; }
      @media (max-width: 780px) {
        .flex-container .flex-row .flex-6 {
          width: 100%; } }
  .flex-container .odd {
    background-color: #f3f3f3; }
